<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tout les cours</title>
</head>
<body>
  <h1>Tout les cours</h1>
  <ul>
      <% for(let cour of cours) { %>
        <li><a href="/cours/<%=cour._id %>"><%=  cour.nom %></a> </li>
        <% } %>
  </ul>
  <a href="/cours/nouveau">Ajouter un cour a la liste des cours</a>
</body>
</html>