<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= etudiants.nom %></title>
</head>
<body>
  <h1><%= etudiants.nom %></h1>
  
  <a href="/etudiants">Retour a la liste des etudiants</a><br>
  <a href="/etudiants/<%= etudiants._id %>/modifier">Modifier l'etudiant'</a>
  <form action="/etudiants/<%=etudiants._id %>?_method=DELETE" method="post">
    <button>Supprimer</button>
  </form>
</body>
</html>