<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modifier un etudiant</title>
</head>
<body>
  <h1> Modifier l'etudiant' : <%=etudiants.nom %></h1>
  <form action="/etudiants/<%=etudiants._id %>?_method=PUT" method="post">
    <label for="nom">Nom de l'etudiant</label><br>
    <input type="text" name="nom" id="nom" placeholder="Entrez le nom de l'etudiant a modifier" value="<%= etudiants.nom %>">
    <button>Enregistrer</button><br>
    <br>
    <a href="/etudiants">Tout les etudiants</a>
  </form>
</body>
</html>