<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nouvelle etudiant</title>
</head>
<body>
  <h1> Ajouter un nouvelle etudiant</h1>
  <form action="/etudiants" method="post">
    <label for="nom">Nom de l'etudiant</label>
    <input type="text" name="nom" id="nom" placeholder="Entrez le nom de l'etudiant">
    <br>
    <button>Enregistrer</button>
  </form>
</body>
</html>